{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<style>
.guide-page h1,
.guide-page h2,
.guide-page h3,
.guide-page h4,
.guide-page h5,
.guide-page h6 {
    color: #4B0082 !important;
}
</style>

<div class="container mt-4 mb-5 guide-page">
    <h1 class="mb-4">Practical Guide – BENYS</h1>
    <p class="text-muted">How to use the application step by step</p>
    <hr>

    <!-- DASHBOARD -->
    <h3>Understanding the Dashboard</h3>

    <div class="text-center my-3">
        <img src="{% static 'blog/images/myProjects.png' %}" 
            class="img-fluid rounded shadow">
    </div>

    <ul>
        <li>On the left → your <strong>projects</strong></li>
        <li>On the right → your <strong>assigned tasks</strong></li>
    </ul>

    <p>Click on:</p>

    <ul>
        <li>a project → to see its details</li>
        <li>a task → to view/edit its information</li>
    </ul>
    <hr>

    <!-- PROJECTS -->
    <h3>Access your projects</h3>
    <p>Click on <strong>Projects</strong> (in the top blue bar)</p>

    <div class="text-center my-3">
        <img src="{% static 'blog/images/Projects.png' %}" 
            class="img-fluid rounded shadow">
    </div>

    <p>You will see all your projects</p>
    <p>Click on <strong>a project</strong> to open it or click the <strong>OPEN</strong> button</p>
    <hr>

    <!-- PERMISSIONS -->
    <h3>Permissions</h3>
    <p><strong>A standard user can only:</strong></p>
    <ul>
        <li>View projects they are a member of</li>
        <li>View tasks in those projects</li>
    </ul>
    <p>An administrator must grant you additional permissions to access more features.</p>
    <hr>

    <!-- ADMIN -->
    <h2 class="mt-5">Admin Guide</h2>

    <h4>Create a project</h4>
    <ul>
        <li>Click <strong>+ New Project</strong></li>
        <li>Fill in the information</li>
        <li>Validate</li>
    </ul>

    <h4>Manage members</h4>
    <ul>
        <li>Open a project</li>
        <li>Go to <strong>Team Members</strong> and click either <strong>Manage</strong> or <strong>Add some</strong></li>
        
        <div class="my-3">
            <img src="{% static 'blog/images/add_member.png' %}" 
                class="img-fluid rounded shadow">
        </div>
        
        <div class="text-center my-3">
            <img src="{% static 'blog/images/save_member.png' %}" 
                class="img-fluid rounded shadow">
        </div>

        <li>Add a user</li>
        <li>Choose a role:
            <ul>
                <li>Contributor</li>
                <li>Read-only<br>You can always change the role of a member any time</li>
            </ul>
        </li>
    </ul>

    <h4>Remove a user</h4>
    <p>Result:</p>
    <ul>
        <li>The user loses access</li>
        <li>Their tickets remain but become <strong>unassigned</strong> (the user will no longer see them)</li>
    </ul>

    <hr>

    <!-- SPRINT -->
    <h3>Create and manage a Sprint</h3>

    <h4>Create</h4>
    <ul>
        <li>Open a project</li>
        <li>Click <strong>+ New Sprint</strong></li>

        <div class="my-3">
            <img src="{% static 'blog/images/btn.png' %}" 
                class="img-fluid rounded shadow">
        </div>

        <p>
            You will need to add:
            <br>Name + description (optional) + start date + duration (14 days by default, but you can change it)
            <br>The end date is calculated automatically
        </p>

        <div class="my-3">
            <img src="{% static 'blog/images/new_sprint.png' %}" 
                class="img-fluid rounded shadow">
        </div>
    </ul>

    <h4>Start</h4>
    <p>The sprint becomes active. In the left sidebar, you can click to view the active sprint in the <strong>KANBAN</strong></p>
        <div class="my-3">
            <img src="{% static 'blog/images/sprint_start.png' %}" 
                class="img-fluid rounded shadow">
        </div>

    <h4>Close</h4>
    <p>The sprint is permanently closed. Unfinished tasks will be transferred to the next sprint</p>

    <div class="my-3">
        <img src="{% static 'blog/images/close_sprint.png' %}" 
            class="img-fluid rounded shadow">
    </div>
    <hr>

    <!-- TICKET -->
    <h3>Create a Ticket</h3>
    <p>You chose the type of the ticket and add the additionnal informations</p>

    <div class="my-3">
        <img src="{% static 'blog/images/tickets.png' %}" 
            class="img-fluid rounded shadow"
            style="max-height: 300px;">
    </div>
    <hr>

    <!-- BACKLOG -->
    <h3>Product Backlog</h3>
    <ul>
        <li>View unplanned tasks</li>
        <li>Organize priorities</li>
    </ul>

    <hr>

    <!-- KANBAN -->
    <h3>Kanban (Sprint)</h3>
    <p>Drag and drop tickets</p>
    <div class="my-3">
        <img src="{% static 'blog/images/kanban.png' %}" 
            class="img-fluid rounded shadow"
            style="max-height: 300px;">
    </div>
    <hr>

    <!-- EPIC -->
    <h3>Epic</h3>
        <p>Create an epic : <br>you can add color + dates<br>Group multiple tickets</p>
    <hr>

    <!-- NAVIGATION -->
    <h3>Quick navigation (left sidebar)</h3>
    <ul>
        <li>Overview → summary</li>
        <li>Backlog → tasks</li>
        <li>Active Sprint → kanban</li>
        <li>Issues → tickets</li>
        <li>Epic → epics</li>
    </ul>

    <hr>

    <!-- PROFILE -->
    <h3>Profile</h3>
    <p>You can always change your picture by chosing a file</p>
    <div class="my-3">
        <img src="{% static 'blog/images/profile.png' %}" 
            class="img-fluid rounded shadow"
            style="max-height: 300px;">
    </div>
</div>

{% endblock %}