{% extends "blog/base.html" %}

{% block content %}

<h2 class="mb-4">Kanban Board</h2>

<div class="row">

<div class="col-md-4">
<h4>To Do</h4>
{% for ticket in todo %}
<div class="card mb-2">
<div class="card-body">
<a href="{% url 'ticket-detail' ticket.id %}">
{{ ticket.title }}
</a>
</div>
</div>
{% endfor %}
</div>


<div class="col-md-4">
<h4>In Progress</h4>
{% for ticket in progress %}
<div class="card mb-2">
<div class="card-body">
<a href="{% url 'ticket-detail' ticket.id %}">
{{ ticket.title }}
</a>
</div>
</div>
{% endfor %}
</div>


<div class="col-md-4">
<h4>Done</h4>
{% for ticket in done %}
<div class="card mb-2">
<div class="card-body">
<a href="{% url 'ticket-detail' ticket.id %}">
{{ ticket.title }}
</a>
</div>
</div>
{% endfor %}
</div>

</div>

{% endblock %}